
<div class="row">

	<div class="col-md-5">

	</div>

	<div class="col-md-2">

		<h3> Editing details for <%= @tenant.firstname %> </h3>

		<%= form_for [@landlord, @property, @tenant] do |f| %>

			<%= f.hidden_field :landlord_id, value: @landlord.id %>

			<%= f.hidden_field :property_id, value: @property.id %>

			<%= f.label :firstname, "First name" %><br>
			<%= f.text_field :firstname, :class => "form-control" %><br>

			<%= f.label :lastname, "Last name" %><br>
			<%= f.text_field :lastname, :class => "form-control" %><br>

			<%= f.label :email, "Email address" %><br>
			<%= f.email_field :email, :class => "form-control" %><br>

			<%= f.label :rent, "Monthly rent" %><br>
			<%= f.text_field :rent, :class => "form-control" %><br>	

			<%= f.submit "Submit", :class => "btn btn-primary mb-2" %>

		<% end %>

	</div>

	<div class="col-md-5">

	</div>

</div>