
<div class="row">

	<div class="col-md-5">

	</div>

	<div class="col-md-2">

		<h3> Create a new tenant </h3>

		<%= form_for [@landlord, @property, @tenant] do |f| %>

			<%= f.hidden_field :landlord_id, value: @landlord.id %>

			<%= f.hidden_field :property_id, value: @property.id %>

			<%= f.label :firstname, "First name" %><br>
			<%= f.text_field :firstname, :class => "form-control" %><br>

			<%= f.label :lastname, "Last name" %><br>
			<%= f.text_field :lastname, :class => "form-control" %><br>

			<%= f.label :email, "Email address" %><br>
			<%= f.email_field :email, :class => "form-control" %><br>

			<%= f.label :rent, "Monthly rent" %><br>
			<%= f.text_field :rent, :class => "form-control" %><br>	

			<%= f.submit "Submit", :class => "btn btn-primary mb-2" %>

		<% end %>

	</div>

	<div class="col-md-5" id="tenantDiv" data-landlord="<%= "#{@landlord.id}" %>" data-property="<%= "#{@property.id}" %>">
			<div id="tenantPreview"></div>
			<div id="tenantFirstname"></div>
			<div id="tenantLastname"></div>
			<div id="tenantEmail"></div>
			<div id="tenantRent"></div>
	</div>

</div>

<!-- <script type="text/javascript" charset="utf-8">
	$(function () {
		$('form').submit(function(event) {
			event.preventDefault();
    		var values = $(this).serialize();
    		var posting = $.post('/landlords/' + <%= "#{@landlord.id}" %> + '/properties/' + <%= "#{@property.id}" %> + '/tenants', values);
    		posting.done(function(data) {
    			var tenant = data;
    			console.log(tenant["firstname"])
    			$("#tenantPreview").text('Previewing details for...')
      			$("#tenantFirstname").text('Tenant first name: '+tenant["firstname"]);
      			$("#tenantLastname").text('Tenant last name: '+tenant["lastname"]);
      			$("#tenantEmail").text('Tenant email address: '+tenant["email"]);
      			$("#tenantRent").text('Tenant monthly rent: '+tenant["rent"]);
    		});
  		});
	});
</script> -->