<div align="center"><h3>Viewing all properties for <%= @landlord.fullname %></h3></div><br>


<div class="row">
	<% @properties.each do |property| %>

	  <div class="col-sm-3" align="center">
		<div class="card" style="width: 18rem;">
		  <% if property.property_photo.attached? %>
		  	<img src="<%= (url_for(property.property_photo)) %>" class="card-img-top">
		  <% end %>
		  <div class="card-body">
		    <h5 class="card-title"><%= property.street %></h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <%= link_to "Edit details", edit_landlord_property_path(@landlord, property), class: "btn btn-primary" %>
		  </div>
		</div>
	  </div>
	<% end %>
</div>

<!-- # <% @properties.each do |property| %>
# 	<%= property.street %><br>
# 	<%= property.city %><br>
# 	<%= property.state %><br>
# 	Current number of tenants: <%= property.tenants.count %><br>
# 	<%= link_to "View property details", landlord_property_path(@landlord, property) %><br>
# 	<%= link_to "Edit property information", edit_landlord_property_path(@landlord, property) %><br>
# 	<%= link_to "Add tenant to this property", new_landlord_property_tenant_path(@landlord, property) %>

# <% end %> -->