<%= form_for [@landlord, @property] do |f| %>

	<%= f.hidden_field :landlord_id, value: @landlord.id %>

	<%= f.label :propertytype %><br>
	<%= f.text_field :propertytype %><br>

	<%= f.label :city %><br>
	<%= f.text_field :city %><br>

	<%= f.label :state %><br>
	<%= f.text_field :state %><br>

	<%= f.label :zip %><br>
	<%= f.text_field :zip %><br>

	<%= f.label :street %><br>
	<%= f.text_field :street %><br>

	<%= f.submit "Create new property" %>

<% end %>

<div id="newProperty">
	<div id="propertyType"></div>
	<div id="propertycity"></div>
	<div id="propertystate"></div>
	<div id="propertyZip"></div>
	<div id="propertyStreet"></div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function () {
		$('form').submit(function(event) {
			event.preventDefault();
    		var values = $(this).serialize();
    		var posting = $.post('/properties', values);
    		posting.done(function(data) {
    			var property = data;
      			$("#properyType").text(property["type"]);
      			$("#propertyCity").text(property["city"]);
      			$("#propertyState").text(property["state"]);
      			$("#propertyZip").text(property["zip"]);
      			$("#propertyStreet").text(property["street"]);
    		});
  		});
	});
</script>